body {
  padding: 1rem;
}

html.garrys-mod {
  background-color: #317ab3;
  color: var(--secondary);;
  font-size: 13px;

  --tertiary: #2b628c;
  --primary-medium: var(--secondary);;
  --primary-low: #4894d0;
  --primary-low-mid: #7cc4ff;

  a {
    color: var(--primary-low-mid);
  }

  .button {
    color: var(--tertiary);
    background-color: white;
    padding: 5px 10px;
  }

  .post-replies {
    font-size: 10px;
    padding: 2px 8px;
    background-color: var(--tertiary);
    color: var(--primary-low-mid);
  }

  .username a {
    color: var(--secondary);;

    &.staff {
      background-color: transparent;
    }
  }
}
